<div class="jumbotron text-center">
    <h1>{{headerMessage}}</h1>

    <br/>
    <br/>

    <h2 class="box-title">Registration Form</h2>


    <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
            <h4 class="input-title">Email</h4>
            {{input type="email" value=email class="form-control"  autofocus="autofocus"}}
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
            <h4 class="input-title">Password</h4>
            {{input type="password" value=password class="form-control" autofocus="autofocus"}}
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
            <br/>
            <button class="btn btn-primary btn-lg btn-block button" {{action 'registerToDB'}}>Register</button>
            {{#link-to 'posts' class="btn btn-primary btn-lg btn-block button" tagName='button'}} Return {{/link-to}}
        </div>
    </div>
    {{#if responseMessage}}
      <div class="alert alert-success">{{responseMessage}}</div>
    {{/if}}
    {{#if failMessage}}
      <div class="alert alert-danger">{{failMessage}}</div>
    {{/if}}


    <br/>
    <br/>

</div>
